.image{
    width:150px;
    border-radius: 46%;

}
.card{
    width: 400px;
    display: flex;
    justify-content: space-around; 
    margin: 120px auto ;
    background-color:#dee2e6;
    padding:30px 12px 10px 30px;
    border-bottom: 25px solid #e592b0;
    font-style:italic;
    border-radius: 30px;
    box-shadow:16px 4px #545353;
    
}
body{
    background-color: #c3d7cc;
}
